<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

       
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
       <ul class="menu">
        {{#if loggedIn}}
            <a class="menu-text" href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a><button id="logout" class="btn-no-style">Logout</button></a>
        {{else}}
            <a href="/login">Login</a>
        {{/if}}
    </ul>
    </div>
    <div class="top-bar-title">
        Tech Blog
    </div>
  </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      The latest tech information with the freshest perspectives!
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</body>

</html>